body {
	background-color: #DCF2B0;
}
.container-fluid {
	background-color: #C2EABD;
}
h2, body, ul, li {
	margin-left: 10px;
}
img {
	height: auto;
	width: auto;
	max-width: 300px
	max-width: 300px;
}